.message-list {
    overflow: auto;
    height: 350px;
    margin-bottom: 10px;
    background-color: rgb(182, 250, 227);
}

.chat-list {
    overflow: auto;
    height: 350px;
    margin-bottom: 10px;
}